.commentContent {
    padding-left: 2px;
    background: lightgreen;
    opacity: 1;
}

.commentWrapper {
    border-style: none;
    display: block;
    background: transparent !important;
    padding-top: 0.5%;
    overflow: hidden;
}

.childComment {
    margin-left: 2%;
}

.btn.btn-outline-secondary {
    padding: 0px;
    font-size: small;
    color: black;
}

.replyButton {
    font-size: small;
    color: black;
    text-decoration: none;
}

.nameBar {
    background: lightgreen;
}

.collapseButton {
    font-size: medium;
    text-decoration: none;
}

.commentText {
    margin: 0px;
    margin-bottom: 0.5rem;
    font-size: larger;
}

.sideContent {
    float: right;
    margin: 2%;
    padding: 1%;
    border-style: solid;
    border-radius: 10%;
}

.likeButtons {
    float: left;
    overflow: hidden;
}
