.commentContent {
    padding-left: 2px;
    background: lightgreen;
    overflow: hidden !important;
}

.commentWrapper {
    border-style: none;
    display: block;
    background: transparent !important;
    padding-top: 0.5%;
}

.childComment {
    margin-left: 2%;
}

.btn.btn-outline-secondary {
    padding: 0px;
    font-size: small;
    color: black;
}

.replyButton {
    font-size: small;
    color: black;
    text-decoration: none;
}

.nameBar {
    background: lightgreen;
}

.collapseButton {
    font-size: medium;
    text-decoration: none;
}

.commentText {
    margin: 0px;
    margin-bottom: 0.5rem;
    font-size: larger;
}

.sideContent {
    float: right;
    margin: 2%;
    padding: 1%;
    border-style: solid;
    border-radius: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.red {
    color: red !important;
}
