{% extends "layout.html" %}
{% from "macros.html" import link, post, like with context%}
{% block content %}
{% if not items %}
    <br>
    <p>
        Content from your favourite subforums will appear here when you subscribe to them. 
        In the mean time you can check 
        <a href="/sub/all">sub/all</a>
        or <a href="/subforums">subforums</a>.
    </p>
{% else %}
    {% if index %}
        <span>
            <a href="{{ "/" }}">new</a>
        </span>
        <span>
            <a href="{{ "/top" }}">top</a>
        </span>
    {% else %}
        <span>
            <a href="{{ "/sub/all" }}">new</a>
        </span>
        <span>
            <a href="{{ "/sub/all/top" }}">top</a>
        </span>
    {% endif %}
    <div class="list-group">
    {% for item in items %}
        <div class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    {% if item.link_id %}
                        {{ like(item.link_id, "", "", item.count_likes) }}
                        {{ link(item) }}
                    {% else %}
                        {{ like("", item.post_id, "", item.count_likes) }}
                        {{ post(item) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}