<!DOCTYPE html>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<script src="/static/script.js"></script>
{% if comments %}
<body onload="styleComments()">
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Linkkifoorumi</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/sub/all">sub/all</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subscriptions">your subscriptions</a>
            </li>
            <li class="nav-item">
        {% if session.name %}
                <a class="nav-link" href="/logout">logout</a>
        {% else %}
                <a class="nav-link" href="/login">login</a>
            <li class="nav-item">
                <a class="nav-link" href="/register">register</a>
            </li>
        {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% if not comments %}
<div class="sideContent">
    {% if sub_name %}
    <a href="{{ url_for('newlink', subforum=sub_name) }}">Submit a new link</a><br>
    <a href="{{ url_for('new_post', subforum=sub_name) }}">Submit a new text post</a><br>
    {% else %}
    <a href="/newlink">Submit a new link</a><br>
    <a href="/newpost">Submit a new text post</a><br>
    {% endif %}
    <a href="/newsubforum">Create a new subforum</a>
</div>
{% endif %}
{% block content %}{% endblock %}
</body>