<!DOCTYPE html>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
{% if comments %}
<body onload="styleComments()">
{% endif %}
<title>Linkkifoorumi</title>
{% if session.name %}
Logged in as {{ session.name }} id: {{ session.user_id }}
<a href="/logout">logout</a>
{% else %}
<a href="/login">login</a>
<a href="/register">register</a>
{% endif %}
<br>
<a href="/links">View links</a><br>
<a href="/posts">View text posts</a>
<br>
<a href="/all">View all</a>
{% if not comments %}
<div class="sideContent">
    {% if sub_name %}
    <a href="{{ url_for('newlink', subforum=sub_name) }}">Submit a new link</a><br>
    <a href="{{ url_for('new_post', subforum=sub_name) }}">Submit a new text post</a><br>
    {% else %}
    <a href="/newlink">Submit a new link</a><br>
    <a href="/newpost">Submit a new text post</a><br>
    {% endif %}
    <a href="/newsubforum">Create a new subforum</a>
</div>
{% endif %}
<br>
<script src="/static/script.js"></script>
{% block content %}{% endblock %}
</body>