{% from "macros.html" import comment_form %}
{% extends "layout.html" %}
{% block content %}
<br>
<a href={{ url }} >{{ title }}</a><br>
Posted at: {{ date }} by {{ name }}
<br>
{{ comment_form("", link_id, "") }}
<br>
{% if comments %}
{% for item in comments %}
<div class="comment commentWrapper" parent_id={{ item.parent or "OP" }} id="{{ "comment" ~ item.comment_id }}" comment_id={{ item.comment_id }}>
    <div class="nameBar">
        <a href="javascript:void(0)" class="collapseButton" onclick="collapseComments(this)" target_id="{{ "content" ~ item.comment_id }}" target_childs={{ item.comment_id }}>[-]</a>
        <span>{{ item.name }}</span>
        <span>{{ item.created_at}}</span>
    </div>
    <div class="commentContent" id="{{"content" ~ item.comment_id}}">
        <p class="commentText">{{ item.comment }}</p>
        {{ comment_form("", link_id, item.comment_id)}}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}