{% macro comment_form(post_id, link_id, parent) %}
    {% if parent %}
        <a href="javascript:void(0)" class="replyButton" onclick="showCommentForm(this)" target_id={{ parent }}>Reply</a>
        <form style="display: none;" action="/newcomment" method="post" id={{ parent }}>
            <textarea name="comment" rows="5" cols="40"></textarea>
            <input type="hidden" name="post_id" value={{ post_id }}>
            <input type="hidden" name="link_id" value={{ link_id }}>
            <input type="hidden" name="parent" value={{ parent }}>
            <input type="hidden" name="csrf_token" value={{ session.csrf_token }}><br>
            <button class="btn btn-outline-secondary">Submit</button>
        </form>
    {% else %}
        <a href="javascript:void(0)" class="replyButton" onclick="showCommentForm(this)" target_id="OP">Reply</a>
        <form style="display: none;" action="/newcomment" method="post" id="OP">
            <textarea name="comment" rows="5" cols="40"></textarea>
            <input type="hidden" name="post_id" value={{ post_id }}>
            <input type="hidden" name="link_id" value={{ link_id }}>
            <input type="hidden" name="parent" value={{ comment_id }}>
            <input type="hidden" name="csrf_token" value={{ session.csrf_token }}><br>
            <button class="btn btn-outline-secondary">Submit</button>
        </form>
    {% endif %}
{% endmacro %}

{% macro link(item) %}
    <div class="col-md-auto">
        <div class="link">
            <a href={{ item.url }} style="font-size: larger;">{{ item.title }}</a><br>
            <p style="font-size: small; margin: 0px;">
            {% if item.sub_name %}
                Submitted to: <a href="{{ "/sub/" ~ item.sub_name }}">{{ "sub/" ~ item.sub_name }}</a>
            {% endif %}
                {{ timeSince(item.created_at) }}
                by {{ item.name }}
            </p>
            <a href="{{ "/link/"  ~ item.link_id}}" style="font-size: small;">{{ item.count_comments ~ " comments"}}</a>
        </div>
    </div>
{% endmacro %}

{% macro post(item) %}
    <div class="col-md-auto">
        <div class="post">
            <a href="{{ "/post/" ~ item.post_id }}" style="font-size: larger;">{{ item.title }}</a><br>
            <p style="font-size: small; margin: 0px;">
            {% if item.sub_name %}
                Submitted to: <a href="{{ "/sub/" ~ item.sub_name }}">{{ "sub/" ~ item.sub_name }}</a>
            {% endif %}
                {{ timeSince(item.created_at) }}
                by {{ item.name }}
            </p>
            <a href="{{ "/post/" ~ item.post_id }}" style="font-size: small;">{{ item.count_comments ~ " comments"}}</a>
        </div>
    </div>
{% endmacro %}

{% macro like(link_id, post_id, comment_id, count) %}
    <div class="col-md-auto">
        <div class="container nopadding">
        <form action="/newlike" method="post">
            <input type="hidden" name="positive" value=True>
            <input type="hidden" name="link_id" value={{ link_id }}>
            <input type="hidden" name="post_id" value={{ post_id }}>
            <input type="hidden" name="comment_id" value={{ comment_id }}>
            <input type="hidden" name="csrf_token" value={{ session.csrf_token }}>
            <button class="btn btn-outline-primary btn-sm">⬆️</button>
        </form>
        <div style="font-size:small;">{{ count ~ " points" }}</div>
        <form action="/newlike" method="post">
            <input type="hidden" name="positive" value=False>
            <input type="hidden" name="link_id" value={{ link_id }}>
            <input type="hidden" name="post_id" value={{ post_id }}>
            <input type="hidden" name="comment_id" value={{ comment_id }}>
            <input type="hidden" name="csrf_token" value={{ session.csrf_token }}>
            <button class="btn btn-outline-primary btn-sm">️⬇️</button>
        </form>
        </div>
    </div>
{% endmacro %}