{% from "macros.html" import link, post, like with context%}
{% extends "layout.html" %}
{% block content %}
<h1>{{ sub_name }}</h1>
<p>{{ introduction }}</p>
{% if not subbed %}
<form action="/newsubscription" method="post">
{% else %}
<form action="/unsubscribe" method="post">
{% endif %}
    <input type="hidden" name="subforum_id" value={{ subforum_id }}>
    <input type="hidden" name="subforum" value={{ sub_name }}>
    <input type="hidden" name="csrf_token" value={{ session.csrf_token }}>
    {% if not subbed %}
    <button>Subscribe</button>
    {% else %}
    <button>Unsubscribe</button>
    {% endif %}
</form>
<span><a href="{{ "/sub/" ~ sub_name }}">new</a></span>
<span><a href="{{ "/sub/" ~ sub_name ~ "/top" }}">top</a></span>
<div class="list-group">
{% for item in contents %}
    <div class="list-group-item">
    <div class="container-fluid">
    <div class="row">
    {% if item.link_id %}
        {{ like(item.link_id, "", "", item.count_likes) }}
        {{ link(item) }}
    {% else %}
        {{ like("", item.post_id, "", item.count_likes)}}
        {{ post(item)}}

    {% endif %}
    </div>
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}